<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
	   
    <!-- Bean的资源获取,默认在IOC创建时加入所有对象时就会自动执行 -->    
    <bean id="moocApplicationContext" class="aware.MoocApplicationContext" ></bean>

	<bean id="moocBeanName" class="aware.MoocBeanName" ></bean>
     
 </beans>
