<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--控制台输出格式-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d => %msg%n
            </pattern>
        </layout>
    </appender>

    <!--Info级别的文件输出格式-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--格式-->
        <encoder>
            <pattern>
                %d => %msg%n
            </pattern>
        </encoder>
        <!--过滤,过滤Error级别的-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--过滤Error级别-->
            <level>ERROR</level>
            <!--命中则拒绝使用这条日志规则-->
            <onMatch>DENT</onMatch>
            <!--未命中则使用这条日志规则-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件路径-->
            <fileNamePattern>/var/log/tomcat/sell/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--Error级别的文件输出格式-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--格式-->
        <encoder>
            <pattern>
                %d => %msg%n
            </pattern>
        </encoder>
        <!--过滤,只输出Error的-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件路径-->
            <fileNamePattern>/var/log/tomcat/sell/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <!--配置应用级别 info级别的输出位置及方式-->
    <root level="info">
        <!--使用策略-->
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>