<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Mybatis</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOneMessageServlet</servlet-name>
    <servlet-class>servlet.DeleteOneMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneMessageServlet</servlet-name>
    <url-pattern>/deleteOneMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBatchMessageServlet</servlet-name>
    <servlet-class>servlet.DeleteBatchMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchMessageServlet</servlet-name>
    <url-pattern>/deleteBatchMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitTalkServlet</servlet-name>
    <servlet-class>servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTalkServlet</servlet-name>
    <url-pattern>/initTalkServlet</url-pattern>
  </servlet-mapping>
</web-app>