/* 自定义CSS样式 */

/* 开头 */
.guider {
	
}

/* 滚动条不显示 */
::-webkit-scrollbar{
display:none;
}

/* 背景图片 */
.guider-background-image {
	/* 图片URL */
	background-image: url(../img/background-image.jpg);
   	/* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;  
    /* 让背景图基于容器大小伸缩 */
   	background-size: cover;
   	/* 设置背景颜色，背景图加载过程中会显示背景色 */
   	background-color: #CCCCCC;	
}


/* 搜索框logo */
.guider-search-logo {
    height: 100%;
    margin: 0 4px;
}

/* 搜索输入框 */
.guider-search-input{
	height: 3.8rem;
    border-radius: 0 0.8rem 0.8rem 0 !important;
    border: none;
    font-size: 20px;
    font-family: 微软雅黑;
    font-weight: 550;
    letter-spacing: 0.2rem;    
}

/* 搜索提示logo */
.guider-input-group-text {
	height: 3.8rem;
    background-color: white;
    border: 0;
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 0.6rem 0.6rem;
}

/* 搜索输入,删除样式 */
.guider-input-close-btn{
	position: absolute;
	top: 10px;
    right: 15px;
	padding: 0;
	height: auto;
    background-color: transparent;
	display: none;
    border: 0;
    -webkit-appearance: none;
}

/* 输入删除图标 */
.guider-input-close-btn > span{
font-size: 30px;
	font-family: 微软雅黑;
	width: 10px;
	height: 10px;
}

/* 输入删除图标,悬停激活 */
.guider-input-close-btn > span:hover{
	font-weight: bolder;
    color: #e42336;
}

/* 输入删除按钮,默认样式*/
.guider-input-close-btn:focus{
	outline: none;
}

/* 提示框下拉面板 */
.guider-input-option-group {
    width: 96%;
    background-color: white;
    border-radius: 0.8rem;
	padding-left: 0;
	margin-bottom: 0;
}

/* 提示框下拉选项 */
.guider-input-option-group > .guider-input-option-li {
	font-size: 1.1rem;
	letter-spacing: 0.15rem;
	padding: 0.3rem;
    border-radius: 0.8rem;
	display: block;
	background-color: #fff;
    padding-left: 12%;
    width: auto;
}

.guider-input-option-group > .list-group-item-action {
	color: #495057;
	text-align: inherit;	
}

.guider-input-option-group > .list-group-item-action:focus, .list-group-item-action:hover {
	color: #495057;
	text-decoration: none;
	background-color: #dae0e5;
}

.list-group-item-select {
	text-decoration: none;
	background-color: #dae0e5;
}


/* 工作空间磨砂前景 */
.guider-work-space {
	z-index: 1;
	position: relative;
	overflow: hidden;
	border-radius: 1em 1em;
	box-shadow: 0px 0px 2px #83837a;
}

/* 工作空间磨砂背景 */
.guider-work-space:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
    
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index: -1;
	background-color: rgba(233, 233, 233, 0.8);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

/* 超链接图标过多布局 */
.guider-link-flow {
	max-height: 200px;
    overflow-y: auto;
}

/* 删除按钮 */
.guider-delete-btn {
	right: 6px;
    top: -10px;
    font-size: 25px;
    font-weight: bold;
	color: red;
	opacity: 0.5;
	animation: revolve-close-cartoon 1s infinite linear;
}

/* 增加按钮 */
.guider-add-btn {
    border: dotted;
    border-width: thin;
    border-color: #818182;
	opacity: 0.8;
}

/* 版权信息 */
.guider-copy-info {
	margin: auto;
	color: white;
    font-size: 15px;
}

/* 图层层次 */
.guider-z-index-2 {
	z-index: 2;
}

.guider-z-index-5 {
	z-index: 5;	
}

.guider-z-index-10 {
	z-index: 10;	
}

/* 侧边栏 */
.guider-sidebar-ico-post {
    position: fixed;
    top: 3%;
    right: 3%;/* -300px; */	
	z-index: 50;
}

.guider-sidebar-ico-but {
    color: #fff;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
}
.guider-sidebar-wrapper {
	width: 25%;
    background: #1c232f;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
	right: 0;
	display: none;
}

.guider-sidebar-content {
	max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: scroll;
    position: relative;
}

.guider-sidebar-content-top {
	background-color: red;
}

.guider-user-header-img {
	height: 60%;
	width: 60%;
	margin: 0 auto;
	display: block;
}

.guider-user-info {
	border-bottom: 1px solid #DDDFE2;
}

.guider-user-name {
	color: #0062CC;
	font-family: "microsoft yahei";
}

.guider-user-address {
	font-family: "microsoft yahei";
}

.guider-sidebar-menu {
	
}

.guider-sidebar-footer {
	position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    background: #1c232f;
    box-shadow: 0px -1px 5px #0c1119;
    border-top: 1px solid #222b35;
	background-color: #1c232f;
}


/* 
	CSS 动画
 */

/* 删除按钮旋转动画 */
@keyframes revolve-close-cartoon
{
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
