/* 图标的样式 */

@font-face {
  font-family: 'guider-icon';
  src: url('../fonts/guider-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'guider-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 新增图标向下贴入 */



.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-web-page:before {
  content: "\f022";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-list:before {
  content: "\f03a";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-web-link:before {
  content: "\f127";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-key:before {
  content: "\e98d";
}
.icon-volume-medium:before {
  content: "\ea27";
}